#navbar *:not(input, #logo){
    color: white;
}

*{
    margin: 0;
    padding: 0;
}

#navbar{
    height: 60px;
    background-color: #0f1111;
    border: dotted,aqua,5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;  
}

button{
    background-color:  #f08804;
    width: autos;
}

#logo{
    color: #f08804;
    font-size: 25px;
}
a{
    /* margin-right: 200px; */
    text-decoration: none;
}

#content{
    background-color: rgb(134, 132, 132);
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2rem;
    padding: 2rem 0 2rem 0;
}

h3{
    grid-column: 1 / span 2;
    color: black;
    text-align: center;
    padding-top:5px;
    overflow-wrap: break-word;
    inline-size: 25rem;
    margin-bottom: 1rem;
}

.contentbox{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: white;
    color: black;
    border: 2px solid black;
    flex-shrink:0;
    padding: 1rem 0 1rem 0;
    gap: 1.5rem 0;
} 

footer{
    padding-bottom: 0px;
    background-color: #0f1111;
    color: white;
    text-align: center;
    
}

img {
    aspect-ratio: 1;
    height: 150px;
}

.item-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}
